@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;900&display=swap');
:root {
  font-family: 'Roboto', sans-serif;
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  background-color: #021c38;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.background-image {
  position: absolute;
  background-image: url('https://image.freepik.com/free-vector/abstract-technology-particle-background_52683-25766.jpg');
  filter: blur(8px);
  /* -webkit-filter: blur(8px); */
  /* Full height */
  height: 100%;
  width: 100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-size: 150vw 150vh;
  z-index: -1;
}

h1 {
  text-align: center;
  color: #f2f2f2;
  font-family: Roboto;
  text-transform: uppercase;
  margin: 1rem 0 3rem 0;
}

h2 {
  font-family: Roboto;
  color: #f2f2f2;
}

h3 {
  font-family: Roboto;
}

h4 {
  color: #f2f2f2;
}

main {
  width: 100%;
  justify-content: center;
}

.teams {
  display: flex;
  justify-content: center;
  -webkit-transform: skewY(-5deg);
  -moz-transform: skewY(-5deg);
  -ms-transform: skewY(-5deg);
  -o-transform: skewY(-5deg);
  transform: skewY(-5deg);
}

.teams section {
  height: 40vh;
  background-color: #bc130e;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px 15px 40px;
}

.teams section h2,
h3,
fieldset {
  -webkit-transform: skewY(5deg);
  -moz-transform: skewY(5deg);
  -ms-transform: skewY(5deg);
  -o-transform: skewY(5deg);
  transform: skewY(5deg);
}

.input-field {
  background-color: #c33941;
  margin-bottom: 20px;
}

.teams input {
  background-color: black;
  border: none;
}

.sub-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
}

section h2,
section p {
  text-align: center;
}

section h3 {
  margin: 1rem 0;
  font-family: Roboto;
  font-size: 3rem;
  color: #f2f2f2;
}

fieldset {
  padding-left: 0;
  padding-right: 0;
  border: none;
}

fieldset input {
  padding: 0.5rem;
}

fieldset i {
  margin: 0 0.2rem;
}

fieldset i.add {
  color: #d2d90d;
}

fieldset i.subtract {
  color: #7ca6a2;
}

.timer {
  border: none;
  margin: 0;
}

.timer p {
  color: #f2f2f2;
  margin: 0;
}

.quarter {
  border: none;
}

.reset {
  border: none;
}

.reset input {
  text-transform: uppercase;
  border: none;
  background-color: #f2f2f2;
  width: 100px;
  height: 72px;
}

.timer *:nth-child(2) {
  border: 30px solid red;
}
